body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #ffffff;
}
#hero {
    text-align: center;
    width: 590px;
    height: 135px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.meme {
    width: 210px;
}